image boot.vfat {
    vfat {
        file barebox.bin { image = "barebox.efi" }
    }
    name = boot
    # Choose size that is multiple of sectors per track,
    # otherwise mcopy will complain
    # any comment
    size = 32823K
}

image @IMAGE@ {
        hdimage {
                align = 4M
                disk-signature = 0x40b61334
        }

        partition barebox {
                image = "boot.vfat"
                partition-type = 0x0C
                bootable = true
        }

        partition root-0 {
                image = "core-image-minimal-@MACHINE@.ext4"
                partition-type = 0x83
        }

        partition root-1 {
                image = "core-image-minimal-@MACHINE@.ext4"
                partition-type = 0x83
        }

        partition data {
                size = 25M
                partition-type = 0x83
        }
}
